@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-jost: Jost;
  --font-aoboshi-one: "Aoboshi One";
  --font-alata: Alata;
  --font-rubik: Rubik;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-16xl: 35px;
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.5);
  --color-steelblue-100: #457c9d;
  --color-steelblue-200: #2d5d99;
  --color-steelblue-300: rgba(67, 114, 170, 0.5);
  --color-black: #000;

  /* Border radiuses */
  --br-11xl: 30px;
}
